/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}body{
    font-family: 'Raleway', sans-serif;
}
/*navigation*/

.flex_container{
    
    width:1200px;
    margin:0 auto;
    height:52px;
    position:fixed;
    
   /* border:1px solid red;*/
}

nav{
    height:51px;
    /*border-bottom: 1px solid #e7e7e7;*/
    
}
.flex_container ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
    
    
}
.flex_container ul li{
    padding:25px 10px;
    
}
.flex_container ul li a{
    color:#4a454e;
    text-decoration: none;
    font-size: 18px
    
}
/*header*/
header{
    min-height: 100vh;
    
    background: url(img/simplon2.png);
    background-size:cover;
    background-attachment: fixed;
    
}
.wrapper_flex{
    /*border:1px solid red;*/
}
.wrapper_flex h1 {
    color: black;
    font-size: 60px;
    font-weight: 300;
    line-height: 1.3;
    padding: 103px 50px;
}
span{
    color:darkred;
    font-size: 70px;
    }
/*video///////////////////////////////////////////////////////////////////////////////////////////////////////*/

iframe{
    width:100%;
    height:100vh;
}
/*card*/
.wrapper_flex_two{
    display:flex;
    height:100vh;
    flex-wrap:row wrap;
  
    justify-content: space-between;
    align-items: center;
}
.card{
  
    height:20%;
   
    margin:5px;
    width:25%;
    border:1px solid lightgrey;
}

.card img{
    height:100%;
    width:100%;
}
footer{ 
    background: lightgrey;
    height:51px;
    width:100%
}
footer p{
    text-align: center;
    line-height: 51px;
}